.playlists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  list-style: none;
}

.playlist {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  transition: box-shadow 0.2s cubic-bezier(0.25, 0, 0.2, 1);
}

.playlist:hover {
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 8px;
}

.playlist-image {
  width: min(13rem, 70vw);
  aspect-ratio: 3/2;
  /* height: min(13rem, 70vh); */
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 0%, 0.75);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0) 0px 18px 36px -18px inset;
}

.playlist-image svg {
  width: 60%;
  height: 60%;
  rotate: 15deg;
  fill: #d5d4d0;
}

.playlist-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin: 0;
  margin-top: 0.5rem;
}

.playlist p,
.playlist span {
  font-size: 0.75rem;
  line-height: 1rem;
  color: hsl(220, 10%, 46%);
  margin: 0;
}

.playlist-info {
  display: flex;
  align-items: center;
  gap: 1ch;
  margin-top: 0.5rem;
}
